@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="#" class="header item">
            <img class="logo" src=""> Messwala
        </a>
        <a href="#" class="item">Users</a>
        <div class="ui simple dropdown item">
            Restaurant
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/restaurant/plans">Plan</a>
                <a class="item" href="/restaurant/plans">Link Item</a>

            </div>
        </div>
        <div class="ui right floated icon text menu">
            <div class="user top right pointing ui dropdown item" data-content="View profile and more" tabindex="0">
                <img class="ui mini rounded image" src="~/images/avatar.jpg">
                <i class="dropdown icon"></i>
                <div class="menu transition hidden" tabindex="-1">
                    <div class="user header">
                        Signed in as <b>jlukic</b>
                    </div>
                    <div class="divider"></div>
                    <a class="item">Your Profile</a>
                    <a class="item">Your Stars</a>
                    <a class="item">Explore</a>
                    <a class="item">Help</a>
                    <div class="divider"></div>
                    <a class="item">Settings</a>
                    <a class="item">Sign Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="ui bottom attached segment pushable">
    <div class="ui visible inverted left vertical sidebar menu">
        <div class="ui inverted segment">
            <div class="ui inverted accordion">
                <div class="title">
                    <a class="item">
                        <i class="block layout icon"></i>
                        Topics
                    </a>
                </div>
                <div class="content">
                    <p class="transition hidden">1

                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Plans
                </div>
                <div class="content">
                    <p>1</p>
                </div>
                <div class="title">
                    <i class="dropdown icon"></i>
                    Subscribers
                </div>
                <div class="content">
                    <p>1</p>
                    <p>2</p>
                </div>
            </div>
        </div>
    </div>
</div> -->